<div class="well well-lg">
<h1>Recipies to choose from</h1>
</div>
<ul class="list-group"><%@recipe_list.each do |row|%>
<li class="list-group-item"><a class="the-link" href="/recipes/<%=row['id']%>"><%=row['name']%></a></li>
<%end%>
</ul>
